body {
    font-family: arial, sans-serif;
}

h1{
    color: rgb(135, 135, 135);
    display: block;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    text-align: left;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    display: block;
    font-size: 16px;
    font-weight: 100px;
    line-height: 19px;
}

ul :first-letter { /*to capitalise only the 1st letter */
text-transform: capitalize;
}
.weatherAppWrapper{
    max-width: 700px;
    margin: 30px auto;
}

.weatherApp {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 60px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 2px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    top: -34px;
    font-size: 14px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast{
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperature-min {
opacity: 0.5;
}

.weather-forecast-temperatures {
font-size:  13px;
}

.col-2 {
    padding-left: 65px;
}

.sun {
    position: relative;
    right: 10px;
}

.button {
border-radius: 30px;
background-color: blue;
color: antiquewhite;
padding: 15px;
}

